/*
=============
Font
=============
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*
==============
Variables
==============
*/
:root {
  --clr-dark-blue-1: hsl(217, 28%, 15%);
  --clr-dark-blue-2: hsl(218, 28%, 13%);
  --clr-dark-blue-3: hsl(216, 53%, 9%);
  --clr-dark-blue-4: hsl(219, 30%, 18%);
  --clr-cyan: hsl(176, 68%, 64%);
  --clr-light-cyan: hsl(187, 62%, 72%);
  --clr-blue: hsl(198, 60%, 50%);
  --clr-light-red: hsl(0, 100%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(210, 5%, 85%);
  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --radius: 2rem;
  --transition: all 0.5s linear;
}

/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
  height: 100%;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header,
section,
nav,
footer {
  display: block;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-dark-blue-2);
  color: var(--clr-white);
  line-height: 1.5;
  font-size: 0.875rem;
  height: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 1rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 0.9rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.5rem;
  color: var(--clr-white);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 0.8rem;
  }
  h4 {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
section {
  margin-bottom: 5rem;
}
/*  global classes */
.btn {
  width: 15rem;
  text-transform: capitalize;
  text-align: center;
  background: linear-gradient(90deg, var(--clr-cyan), var(--clr-blue));
  color: var(--clr-white);
  padding: 1rem 0;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius: var(--radius);
}
.btn:hover {
  background: var(--clr-light-cyan);
}
.btn-submit{
  width: 100%;
}

/*
==============
Styles
==============
*/
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-dark-blue-1);
  z-index: 1000;
}
.nav-center {
  width: 95vw;
  max-width: 1680px;
  margin: 0 auto;
  padding: 2rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 7rem;
  height: 2rem;
}
.links {
  display: flex;
  justify-content: space-between;
}
.scroll-link {
  padding-left: 1rem;
  color: var(--clr-grey);
  text-transform: capitalize;
  font-weight: 400;
  transition: var(--transition);
}
.scroll-link:hover {
  color: var(--clr-white);
  text-decoration: underline;
}
.banner-container {
  width: 90vw;
  max-width: 800px;
  margin: 5rem auto 8rem;
  text-align: center;
}
.illustration-intro-img {
  width: 100%;
  height: 50%;
  margin-bottom: 5rem;
}

.feature-container {
  width: 85vw;
  max-width: 900px;
  margin: 0 auto 5rem;
  display: grid;
}
.single-feature {
  margin-bottom: 3rem;
  text-align: center;
}
.feature-logo {
  width: 3rem;
  height: 3rem;
  margin: 0 auto 1rem;
}
@media screen and (min-width: 800px) {
  .feature-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5rem;
    column-gap: 5rem;
  }

}

.team-container {
  width: 90vw;
  max-width: 1080px;
  margin: 0 auto 10rem;
}
.team-introduction {
  margin-bottom: 8rem;
}
.team-logo {
  width: 20rem;
  margin: 0 auto 3rem;
}
.team-paper {
  text-align: left;
}
.work-link {
  width: 9.5rem;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-cyan);
  border-bottom: 1px solid var(--clr-cyan);
  transition: var(--transition);
}
.work-link:hover {
  color: var(--clr-white);
  border-bottom: 1px solid var(--clr-white);
}
@media screen and (min-width: 800px) {
  .team-container {
    width: 90vw;
    max-width: 1080px;
    margin: 0 auto 20rem;
  }
  .team-introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .team-logo {
    width: 33rem;
    margin: 0;
  }
  .team-paper {
    max-width: 500px;
  }
  .work-link {
    width: 11rem;
  }
}
.card {
  padding: 2rem 1.5rem; 
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--clr-dark-blue-4);
}
.card:first-child {
  position: relative;
}
.card:first-child::before {
  position: absolute;
  top: -1.3rem;
  left: 0.5rem;
  content: "";
  background: url("./images/bg-quotes.png");
  background-size: 100% 100%;
  display: block;
  width: 1.5rem;
  height: 1.3rem;
}
.comment {
  color: var(--clr-grey);
}
.profile {
  display: flex;
  justify-content: left;
  align-items: center;
}
.person-img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.7rem;
}
.person-img img {
  border-radius: 1rem;
}
.name {
  margin-bottom: 0;
}
.job {
  font-size: 0.7rem; 
  color: var(--clr-grey);
  margin-bottom: 0;
}
@media screen and (min-width: 800px) {
  .team-comment {
    display: flex;
  }
  .card {
    margin-bottom: 0;
    margin: 1rem;
  }
}

.signin-container {
  width: 90vw;
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 1.5rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--clr-dark-blue-4);
}
.signin-title {
  text-align: center;
}
.input-email {
  width: 100%;
  height: 3.5rem;
  margin-bottom: 1rem;
  padding: 1.2rem 2rem;
  border-radius: 2rem;
  outline: none;
}
@media screen and (min-width: 800px) {
  .signin {
    position: relative;
  }
  .signin-position {
    position: absolute;
    bottom: -7rem;
    width: 100%;
    display: grid;
    justify-items: center;
  }
  .signin-form {
    display: flex;
    justify-content: space-between;
  }
  .input-email {
    width: 60%;
    height: 3rem;
  }
  .btn-submit {
    width: 35%;
    height: 3rem;
  }
}

.footer {
  background-color: var(--clr-dark-blue-3);
}
.footer-container {
  width: 90vw;
  max-width: 1400px;
  margin: 0 auto 30rem;
  padding-top: 2rem;
}
.footer .logo {
  width: 10rem;
  height: 3rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 800px) {
  .footer-container {
    padding-top: 10rem;
  }
}
.way-container {
  display: flex;
}
.way-logo {
  margin-right: 1rem;
}
.url-links-container {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.links {
  margin-bottom: 1rem;
  color: var(--clr-grey);
  font-size: 1rem;
  text-transform: capitalize;
  transition: var(--transition);
}
.links:hover {
  color: var(--clr-white);
}
.social-media {
  margin-top: 5rem;
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-media-link {
  color: var(--clr-white);
  font-size: 1.5rem;
  padding: 0.5rem;
  transition: var(--transition);
}
.social-media-link:hover {
  color: var(--clr-cyan);
}
@media screen and (min-width: 800px) {
  .contact-way {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .traditional-way {
    display: flex;
    flex-wrap: wrap;
  }
  .way-container {
    max-width: 300px;
    margin-right: 5rem;
  }
  .url-links {
    display: flex;
    justify-content: space-between;
  }
  .url-links-container {
    margin-right: 5rem;
  }
}

.top-link {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  display: none;
  background-color: var(--clr-cyan);
  border-radius: var(--radius);
  color: var(--clr-white);
}
.top-link.show-link {
  display: grid;
  place-items: center;
}